<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taobao.xdemo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 移除快捷方式 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="app.custom.permission" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- https://tbuserlink.oss-cn-hangzhou.aliyuncs.com/ -->

        <activity
            android:name=".AppLinksActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">

             <intent-filter android:autoVerify="true">
                 <action android:name="android.intent.action.VIEW" />

                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSABLE" />

                 <data
                     android:host="f6yvz7.biz"
                     android:path="/ulk/litetao"
                     android:scheme="https" />
             </intent-filter>


          <!--  <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tbuserlink.oss-accelerate.aliyuncs.com"
                    android:path="/index.html"
                    android:scheme="https" />
            </intent-filter>-->
        </activity>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

          <!--  <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="userlink-wakeup.oss-cn-hangzhou.aliyuncs.com"
                    android:scheme="https" />
            </intent-filter>-->

        </activity>


        <activity android:name=".TestActivity"></activity>

        <activity android:name=".TimeActivity" />
        <activity android:name=".AidlTestActivity" />
        <activity
            android:name=".smartlink.SnartLinkActivity"
            android:exported="true"></activity>
        <activity android:name=".floating.FloatActivity"></activity>

        <receiver android:name=".notification.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="cn.campusapp.action.closenotic" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BottomActivity"
            android:theme="@style/TransparentTheme" />

        <service android:name=".floating.FloatWindowService" />
        <service android:name=".notification.NotificationService" /> <!-- 声明widget对应的AppWidgetProvider -->
        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>

                <!-- 这个是必须要有的系统规定 -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- 这个是我们自定义的 action ，用来更新UI，还可以自由添加更多 -->
                <action android:name="com.lyl.widget.UPDATE_ALL" />
            </intent-filter>
            <!-- 要显示的布局 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget" />
        </receiver> <!-- 用来计时，发送 通知桌面部件更新 -->
        <service android:name=".widget.WidgetService">
            <intent-filter>

                <!-- 用来启动服务 -->
                <action android:name="android.appwidget.action.APP_WIDGET_SERVICE" />
            </intent-filter>
        </service> <!-- 接收通知点击的相应操作 -->
        <receiver android:name=".widget.WidgetBroadcastReceiver">
            <intent-filter>
                <action android:name="cn.campusapp.action.closenotic" />
            </intent-filter>
        </receiver>
    </application>

</manifest>